/* list 页面的样式  */
a {
  color: #4e5569;
}
a:hover {
  cursor: pointer;
  color: #3968cc;
  text-decoration: none;
}
.center {
  width: 1300px;
  background: #fff;
  background-clip: padding-box;
  min-height: calc(100vh - 294px);
}

.center h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  padding-right: 6px;
}
.center span {
  display: inline-block;
  color: #6e6e6e;
  font-family: Microsoft YaHei;
}

.center li a {
  color: #5e5c5c;
  font-size: 16px;
}
.center-title {
  font-weight: normal;
  margin-left: 43px;
  padding-top: 80px;
}
.center-title span {
  padding-left: 5px;
  font-size: 18px;
  font-weight: bold;
}
.center-title span a {
  color: #6e6e6e;
}

/* 内容样式 */
.news {
  margin-left: 62px;
  font-weight: bold;
  padding-left: 3px;
  margin-top: 34px;
  font-size: 18px;
  font-family: Microsoft YaHei;
  color: rgba(110, 110, 110, 1);
}

.news-list {
  margin-top: 12px;
  margin-bottom: 12px;
  border-bottom: #dbdbdb 1px solid;
}
.news-list-last {
  margin-top: 12px;
  margin-bottom: 12px;
}
/* list新闻的具体内容开始 */
.news-list-info {
  margin-left: 65px;
  margin-right: 60px;
}

.news-list-info li a {
  font-size: 16px;
  color: #5e5c5c;
  font-weight: 400;
  line-height: 50px;
}

/* point 点的样式 */
.news-list-info .point {
  width: 4px;
  height: 4px;
  background-color: #c1c5ca;
  border-radius: 2px;
  vertical-align: baseline;
  font-weight: 600;
  margin-right: 9px;
  margin-bottom: 4.5px;
}

/* 鼠标悬停效果 */
.center h1 a:hover,
.center span a:hover,
.news-list-info li a:hover {
  color: #3968cc;
  cursor: pointer;
}

.news-list-info li em {
  font-size: 16px;
  font-weight: lighter;
  margin-left: 20px;
  color: #bababa;
}

/* 跳转页面 */
.pagenum {
  text-align: center;
  margin: 55px 0 0px;
  padding-bottom: 60px;
}
/* list新闻的具体内容结束 */
/* content页面 */
.content {
  width: 1100px;
  margin: 0 auto;
}

.content h2 {
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  margin: 40px 0 30px;
  color: #303132;
  line-height: 40px;
}

/* 分享的头部样式 */
.content-info p em {
  margin-right: 10px;
}

.content-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  color: #979797;
  border-bottom: #dbdbdb 1px solid;
}

.content-info p em {
  margin-right: 10px;
}
.content-xx {
  color: #5e5c5c;
  line-height: 42px;
  padding: 20px 20px 58px;
}
.content-xx p {
  font-size: 16px;
  font-family: PingFang SC;
  /* font-size: 18px; */
}

.content-xx .bold {
  font-weight: bold;
}
.content-xx .em {
  text-indent: 2em;
}

.right-info {
  float: right;
  text-align: right;
  line-height: 35px;
  color: #7a7979;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.right-info em {
  display: block;
}

/* 举报须知  */
.bm-btn {
  display: block;
  width: 13%;
  text-align: center;
  padding-bottom: 26px;
  margin: 0 auto;
}

.bm-btn a {
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
  padding: 14px 0;
  background: #0090ff;
  border-radius: 5px;
}

/* 变化的颜色暂时还没有,留着等确认再修改 */
/* .bm-btn a:hover {
    background: #0090FF;
} */
.bm-btn-checkbox {
  margin-bottom: 20px;
  text-align: center;
}

/* 在线举报页面 */
.online-reporting-one li,
.online-reporting-two li {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  border: #dbdbdb 1px solid;
  display: inline-block;
  text-align: center;
  /* position: relative; */
  margin-right: 90px;
  margin-top: 100px;
  line-height: 110px;
  /* 鼠标悬停过渡效果 */
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.43;
}
.online-reporting-one li.first {
  margin-left: 85px;
}

.online-reporting-one li img,
.online-reporting-two li img {
  vertical-align: middle;
  text-align: center;
}

.online-reporting-one li p,
.online-reporting-two li p {
  width: 108px;
  height: 60px;
  line-height: 60px;
  color: #4e5356;
  font-size: 20px;
  font-weight: 500;
}
.online-reporting-two li.first {
  margin-left: 186px;
}

.online-reporting-one li:hover,
.online-reporting-two li:hover {
  transform: scale(1.05);
}
.online-reporting-one,
.online-reporting-two {
  margin-left: 100px;
}
.online-reporting-two {
  padding-bottom: 240px;
}

/* 举报查询样式  */
.report-query {
  background-image: url(../images/lty_reportQuery.png);
  width: 864px;
  height: 313px;
  /* text-align: center; */
  margin: 0 auto;
}
.report-query .input .find {
  width: 18px;
  height: 18px;
  background-image: url(../images/lty_find.png);
  margin: 0 18px 0 42px;
  vertical-align: middle;
}
.report-query .input {
  width: 555px;
  height: 51px;
  /* padding-left: 148px; */
  margin-left: 148px;
  margin-top: 166px;
  background-color: #ffffff;
  border-radius: 5px;
}
.report-query .input input {
  color: #8d8d8d;
  font-size: 16px;
  border: none;
  line-height: 48px;
  height: 48px;
  width: 80%;
  vertical-align: middle;
  /* vertical-align: super; */
}
.report-content {
  width: 511px;
  text-align: center;
  margin: 0 auto;
  color: #5e5c5c;
  font-size: 16px;
  padding-bottom: 38px;
}

/* 举报查询结果样式  */
.report_result {
  text-align: center;
}
/* 举报查询的图片不同地址 */
.report_result .report_result_img {
  background-image: url(../images/lty_on.png);
  /* background-image: url(../images/lty_pass.png); */
  /* background-image: url(../images/lty_off.png); */
  width: 68px;
  height: 68px;
}
.report_result p {
  font-size: 20px;
  color: #040e1c;
  margin-top: 20px;
}
.report_result .report_result_message {
  width: 416px;
  color: #040e1c;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 45px;
  line-height: 26px;
  /* margin-bottom: 118px; */
}
/* 举报指南样式开始 */
.reportGuide-title p {
  text-align: center;
  margin: 0 auto;
  width: 1100px;
}
.reportGuide-title p.tit {
  color: #414141;
  line-height: 42px;
  font-size: 26px;
  font-family: PingFang SC;
  font-weight: 500;
  margin-bottom: 5px;
}
.reportGuide-title p span {
  color: #838383;
  height: 14px;
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  line-height: 32px;
}
.reportGuide-title p.titContent {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.reportGuide-content {
  width: 1058px;
  margin: 48px auto 0px;
  color: #5e5c5c;
}
.reportGuide-content p {
  line-height: 42px;
  font-family: PingFang SC;
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
}
.reportGuide-content ul {
  padding-left: 15px;
}
.reportGuide-content ul li,
.reportGuide-content ul,
.reportGuide-content div {
  font-size: 16px;
  line-height: 42px;
}
.reportGuide-content .info {
  padding-left: 15px;
  text-indent: 2em;
}
/* 举报指南样式结束 */

/* 举报详情开始 */
.center-left {
  width: 60.38%;
  float: left;
  /* 未定 */
  height: 1112px;
}
.center-right {
  width: 39.62%;
  height: 1112px;
  float: left;
  background-color: rgba(246, 244, 244, 1);
}
.Details-classification {
  margin-left: 41px;
  width: 80%;
  height: 40px;
  margin-top: 27px;
}
.Details-classification input {
  float: left;
  height: 40px;
  width: 149px;
  color: #949aa1;
  font-family: PingFang SC;
  background-color: #fff;
  border: 1px solid rgba(221, 225, 232, 1);
  border-left: none;
}
.Details-classification .blue {
  background-color: #0090ff;
  color: #ffffff;
}
.Details-details {
  font-size: 13px;
  color: #69727a;
  margin-left: 45px;
  font-family: PingFang;
  line-height: 24px;
}
.Details-details .red {
  color: #ff4f12;
  font-size: 13px;
}
.Details-option .red,
.rightMar .red,
.redBug {
  width: 8px;
  height: 8px;
  margin-right: 4px;
}
.Details-option-left {
  margin-left: 43px;
  float: left;
}
.Details-option-title {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(105, 114, 122, 1);
  line-height: 34px;
  margin-top: 25px;
}
.Details-option-content {
  /* color: #0090ff; */
  height: 38px;
}
.Details-option-content .button {
  min-width: 118px;
  height: 38px;
  margin-right: 19px;
  padding: 0 17px;
  color: #949aa1;
  border: 1px solid rgba(221, 225, 232, 1);
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
}
.Details-option-from {
  width: 305px;
  height: 38px;
}
.relative {
  position: relative;
}
.mclear {
  border: 0;
  position: absolute;
  top: 12px;
  left: 280px;
  background: url(../images/select-close.png) no-repeat;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
.Details-option-content {
  /* background-color: pink; */
}
.Details-option-right {
  float: left;
  margin-left: 52px;
}
.Details-option-select {
}
.Details-option-select {
  display: block !important;
  /* margin: 0 0 15px; */
}

.Details-option-select button {
  width: 305px !important;
  height: 38px !important;
  background: #fff;
  color: #999 !important;
  margin: 0;
  border: #ccc 1px solid;
  padding-left: 22px;
  font-size: 14px;
}

.Details-option-select button:hover,
.Details-option-select button:active,
.Details-option-select button:focus {
  background: #fff;
}
.margin-left {
  margin-left: 47px;
}
.rightMar {
  margin-left: 47px;
  margin-top: 50px;
}
.DetailsOptionText {
  width: 422px;
  height: 38px;
  border-radius: 4px 4px 0 0 !important;
}
.DetailsOptionTextarea {
  width: 422px;
  height: 125px;
  border-radius: 0 0 4px 4px;
  border-top: 0;
  resize: none;
}
.topS {
  margin-top: 20px;
}
.fuJ {
  border-radius: 4px;
  width: 305px;
  height: 38px;
}
.fuJBtn {
  width: 46px;
  outline: 0;
  color: #ffffff;
  height: 24px;
  background: rgba(107, 158, 235, 1);
  border-radius: 4px;
  font-family: "Microsoft YaHei", "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border: 0;
}
.DetailsOptionyzm {
  /* font-family: "Roboto", sans-serif; */
  outline: 0;
  border: #d0d2d4 1px solid;
  border-radius: 4px;
  width: 305px;
  /* margin: 0 0 15px; */
  /* padding: 10px 15px; */
  /* box-sizing: border-box; */
  font-size: 14px;
  text-indent: 5px;
}
.OptionyzmImg {
  position: absolute;
  right: 10px;
  top: 7.5px;
}
.OptionButton {
  font-family: "Microsoft YaHei", "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3f75eb;
  width: 160px;
  height: 44px;
  border: 0;
  /* padding: 10px 15px; */
  color: #ffffff;
  /* font-size: 14px; */
  /* -webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer; */
  margin-top: 195px !important;
  /* background:rgba(0,144,255,1); */
  border-radius: 4px;
}
.bluecolor {
  background: #6b9eeb;
}
/* 举报详情结束 */

/* 匿名举报开始 */
.anonymousReportCenter {
  width: 787px !important;
  margin: 0 auto;
}
.maleNo {
  margin-left: 0 !important;
}
#orange {
  background: rgba(255, 91, 34, 1);
  color: #ffffff;
}
.aRinput {
  width: 695px !important;
}
.aRbutton {
  margin-top: 110px !important;
}
.aRmagin {
  margin-left: 212px !important;
  margin-right: 21px !important;
  margin-bottom: 164px !important;
}
/* 匿名举报结束 */

/* 登录后举报开始 */
.dataTime {
  width: 160px !important;
  height: 38px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(221, 225, 232, 1) !important;
  border-radius: 4px;
}
.WavyLine {
  float: left;
  width: 10px;
  height: 15px;
  margin-left: 30px;
  font-size: 15px;
  font-family: PingFang SC;
  font-weight: 300;
  color: rgba(4, 14, 28, 1);
  line-height: 40px;
  opacity: 0.4;
}
.loginData {
  margin-top: 50px;
}
.LrButton {
  width: 80px !important;
  height: 38px;
  margin-left: 40px !important;
  margin-top: 0 !important;
}
.InquiryCode {
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 500;
  color: rgba(82, 84, 88, 1);
  line-height: 33px;
  text-align: left;
}
.LrLink {
  font-size: 14px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(112, 144, 189, 1);
  line-height: 45px;
  opacity: 0.8;
}
.LrTextContent {
  width: 392px;
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(94, 92, 92, 1);
  line-height: 30px;
  opacity: 0.8;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.LrTextData {
  font-size: 15px;
  font-family: PingFang SC;
  font-weight: 400;
  color: rgba(186, 186, 186, 1);
}
.LrTextBox {
  width: 420px;
  padding: 46px 0 29px;
  margin-left: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.LrTextBoxLast {
  border-bottom: 0;
}
.switchImg{
  width: 26px;
  height: 26px;
  margin-left: 237px;
}
.switchImgNext{
  margin-left: 20px;
}
/* 登录后举报结束 */

/* 登录后没有历史记录开始 */
.NoContent {
  padding-left: 170px;
  padding-top: 146px;
}
.NoContentText {
  font-size: 16px;
  font-family: PingFang SC;
  font-weight: 300;
  color: rgba(82, 84, 88, 1);
  line-height: 24px;
  margin-top: 35px;
  margin-left: 18px;
}
/* 登录后没有历史记录结束 */

/* 雪飞 */
/* 头部通用 */
.body {
  width: 1300px;
  margin: 0 auto;
  padding-bottom: 28px;
}
.bj {
  background: url(../images/xxf_bj.png) #88a3de top left no-repeat;
  border: none;
}
.xxf_logo {
  margin-top: 27px;
  margin-left: 38px;
}
.xxf_input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 1);
  opacity: 0.4;
}
.xxf_input {
  margin: 49px 0 0 562.9px;
  width: 240px;
  height: 36px;
  border-radius: 18px;
  background: url(../images/xxf_search.png) no-repeat scroll right center
    transparent;
  background-color: white;
  background-size: 18px 18px;
  background-position: 204px;
  border: 1px solid whitesmoke;
  outline: none;
  padding: 0 45px 0 20px;
}
.xxf_top {
  position: relative;
  margin-top: 28px;
}
/* .xxf_nav{display: flex;background-color: #204490;width: 1106px;} */
.xxf_nav {
  float: left;
  background-color: #204490;
  width: 1106px;
}
.xxf_nav li {
  float: left;
}
.xxf_nav li a:hover {
  border-bottom: 3px solid #0090ff;
  padding-bottom: 8px;
  text-decoration: none;
}
.xxf_nav li a {
  color: #ffffff;
  line-height: 51px;
  font-size: 20px;
  width: 41px;
  margin: 0 45px;
}
.xxf_nav_one {
  margin-left: 40px;
}
.xxf_time {
  width: 194px;
  height: 51px;
  background-color: #0090ff;
  position: absolute;
  top: 0px;
  right: 0;
  line-height: 51px;
  color: #ffffff;
}
.xxf_day {
  font-size: 30px;
  margin-left: 17px;
  font-family: Source Han Sans CN;
}
/* .xxf_year,.xxf_week{font-size: 16px;line-height: 25.5px;text-align: right;margin-left: 17px;} */
/* .xxf_year,.xxf_week{font-size: 16px;line-height: 25.5px;text-align: right;margin-left: 45px;} */
.xxf_year,
.xxf_week {
  font-size: 16px;
  margin-left: 17px;
  line-height: 16px;
  float: left;
}
.xxf_year {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-right: 16px;
}
.xxf_week {
  margin-left: 53.5px;
}
/* 通用底部 */
.copyright {
  background-color: #ffffff;
  padding-top: 31px;
  text-align: center;
}
.copyright-p {
  margin-bottom: 12px;
}
.copyright-p span {
  margin-right: 7px;
}
.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  padding-top: 31px;
  padding-bottom: 29px;
  width: 428px;
}
/* [v-cloak] { display: none;} */

/* lhj 2020-05-27 */
.modal-dialog {
  max-width: 428px !important;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  margin: 0;
  padding: 18px 31px 46px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  border: #d0d2d4 1px solid;
  border-radius: 7px;
  width: 100%;
  margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-indent: 5px;
}

.form button {
  font-family: "Microsoft YaHei", "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3f75eb;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  border-radius: 7px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 20px;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #3f75eb;
  outline: none;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #3f75eb;
  text-decoration: none;
}

.modal-open {
  padding-right: 0 !important;
}

.modal {
  top: 30px;
}

.required_style {
  color: red;
  position: absolute;
  left: 42px;
  margin-top: 13px;
  font-size: 15px;
}

.vetify_style {
  position: absolute;
  right: 10px;
  top: 10px;
}

.vetify-group {
  position: relative;
}

.city_picker .required_style,
.vetify-group .required_style {
  left: 11px;
  z-index: 99;
}

.select-style {
  display: block !important;
  margin: 0 0 15px;
}

.select-style button {
  width: 334px !important;
  background: #fff;
  color: #999 !important;
  margin: 0;
  border: #d0d2d4 1px solid;
  padding-left: 22px;
  font-size: 14px;
}

.select-style button:hover,
.select-style button:active,
.select-style button:focus {
  background: #fff;
}
.form-text-lhj {
  display: block;
  text-align: left;
  margin-left: 8px;
  margin-top: -8px;
  margin-bottom: 12px;
  color: #8d9dac;
}
.modal-title {
  margin-left: 10px;
}
.success-txt,
.success-change-txt {
  width: 70%;
  margin: 22px auto 31px;
}
.success-change-txt {
  font-size: 18px;
  margin-top: 10px;
}
.form-control-lhj {
  display: block;
}
.bootstrap-select .dropdown-toggle .caret{
  position: absolute;
  top: 50%;
  right: 8px;
  width: 10px;
  margin-top: -3px;
  height: 5px;
  background: url(../images/drop-arrow.png) -10px -25px no-repeat;
  border: 0;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default,.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  color: #333;
  background-color: #fff;
  border-color: #46A4FF;;
}
.bootstrap-select.open .dropdown-toggle .caret {
  background-position: -10px -10px;
}